.profile {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  & .avatar {
    width: 250px;
    border-radius: 60%;
    box-shadow: var(--box-sh);
  }
  & .description {
    display: flex;
    position: relative;
    & .name {
      display: block;
      margin-left: 30px;
      font-weight: bold;
      font-size: 28px;
    }
    & .tag {
      position: absolute;
      left: 60%;
      top: 20%;
      color: var(--gray);
    }
    & .location {
      position: absolute;
      left: 60%;
      top: 30%;
      color: var(--gray);
    }
  }
  & .stats {
    margin-left: 30px;
    margin-top: 50px;
    text-transform: lowercase;
    & .label {
      margin-right: 10px;
    }
  }
}
