.friend-list {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 30px;
  right: 20px;

  & .name {
    display: block;
    margin-top: 10px;
    justify-self: baseline;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.005em;
  }
  & .avatar {
    width: 50px;
    background-color: var(--background-color-soft-gray);
    border-radius: 10px;
  }
  & .item {
    margin-left: 20px;
    margin-bottom: 20px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: var(--box-sh);
  }
  & .status {
    text-transform: lowercase;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    &::before {
      content: "•";
      margin-right: 3px;
    }
  }
  & .online {
    color: green;
  }
  & .offline {
    color: indianred;
  }
}
