.statistics {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;

  & .title {
    margin-bottom: 20px;
    text-align: start;
  }
  & .stat-list {
    display: flex;
    justify-content: flex-start;

    & .item {
      &:not(:last-child) {
        margin-right: 20px;
      }
      color: white;
      padding: 20px;
      border-radius: 5px;
      background-color: cadetblue;
      display: flex;
      flex-direction: column;
      & .percentage {
        margin-top: 5px;
        &::after {
          content: "%";
          margin-left: 3px;
        }
      }
    }
  }
}
