.transaction-history {
  width: 100%;
  margin-bottom: 20px;
  border: 15px solid #f2f8f8;
  border-top: 5px solid #f2f8f8;
  border-collapse: collapse;
  & th {
    text-align: start;
    font-weight: bold;
    padding: 5px;
    background: #f2f8f8;
    border: none;
    border-bottom: 5px solid #f2f8f8;
  }
  & td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #f2f8f8;
  }
}
