@import-normalize;
:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-soft-gray: #f5f4fa;
  --white-font: #ffffff;
  --black-font: #000000;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  color: var(--main-color);
}
